// Colors 

// Primary
$white: #f6f4ec;
$green: #9bc152;
$navy-gray: #282932;

// Secondary
$medium-green: #81a53d;
$dark-green: #708647;
$light-gray: #8b8d9b;
$medium-gray: #6d6f81;
$medium-blue: #6b6d85;
$dark-blue: #47495d;
$dark-navy: #1b1b21;

// Fonts

// Families
$font-body: 'Alegreya Sans', Verdana, Tahoma, sans-serif;
$font-heading:'Alegreya', Georgia, serif;
$font-link: 'Alegreya Sans SC', 'Alegreya Sans', Verdana, Tahoma, sans-serif;

// Sizes
$font-body-size: 1.25em;
$font-h1-size: 3.157em;
$font-h2-size: 2.369em;
$font-h3-size: 1.777em;

$font-header-h1: 6.2em;
$font-header-h2: 1.777em;

$font-summary-size: 1.333em;
$font-sidebar-size: 0.75em;

// Breakpoints
$x-small: 34em;
$small: 47em;
$medium: 54em;
$large: 64em;
$x-large: 94em;
$xx-large: 120em;