// Colors 

// Primary
$white: #f6f4ec;
$green: #9bc152;
$navyGray: #282932;

// Secondary
$mediumGreen: #81a53d;
$darkGreen: #708647;
$lightGray: #8b8d9b;
$mediumGray: #6d6f81;
$mediumBlue: #6b6d85;
$darkBlue: #47495d;
$darkNavy: #1b1b21;